.movies-list {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    width: 100%;
    height: 100%;
    gap: 10px;
}

.movie-wrapper {
    width: 100%;
    height: 71px;
    padding: 28px 0px 28px 60px;
    border-radius: 10px;
    background: rgba(58, 57, 57, 1);
}

.movie-title {
    color: rgba(243, 246, 249, 1);
    font-size: 20px;
    font-weight: 400;
}