h1 {
    text-align: center;
    color: rgba(243, 246, 249, 1);
    font-size: 120px;
    font-weight: 400;
    line-height: 138px;
    letter-spacing: -4%;
}

.subtitle_text {
    width: 183px;
    height: 30px;
    text-align: center;
    border: 1px solid rgba(101, 50, 248, 1);
    border-radius: 200px;
    background: rgba(101, 50, 248, 1);
    color: rgba(243, 246, 249, 1);

    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
}

.subtitle_year {
    width: 75px;
    height: 30px;
    border: 1px solid rgba(101, 50, 248, 1);
    border-radius: 200px;
    background: rgba(101, 50, 248, 1);
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    color: rgba(243, 246, 249, 1);
}

.subtitle {
    margin-left: 140px;
    display: flex;
    gap: 5px;
}