.section-movies {
    margin-top: 45px;
    padding: 70px;
    max-height: 550px;
    border-radius: 20px;
    background: rgba(35, 35, 35, 1);
    overflow-y: scroll;
}
.section-movies::-webkit-scrollbar {
  width: 0px;
  background: rgba(255, 255, 255, 0.0);
}

/* ↓ Input ↓ */
.input-container {
    display: flex;
    gap: 20px;
    align-items: baseline;
}

.input {
    width: 100%;
    font-family: inherit;
    font-size: 30px;
    font-weight: 400;
    line-height: 39px;
    background-color: rgba(35, 35, 35, 1);
    color: rgba(243, 246, 249, 1);
    border: none;
}
.input:focus {
    outline: none !important;
}

.input-wrapper {
    padding-bottom: 2px;
    width: 411px;
    border-bottom: 1px solid rgba(243, 246, 249, 1);
    opacity: 0.5;
}

.input-button {
    width: 62px;
    height: 62px;
    padding: 16px;
    border-radius: 31px;
    background-color: rgba(101, 50, 248, 1);
    cursor: pointer;
}

.input-button:active {
    transform: scale(0.95);
}
